In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
dta = sm.datasets.fair.load_pandas().data

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
dta.head()

,rate_marriage,age,yrs_married,children,religious,educ,occupation,occupation_husb,affairs
0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0,0.111111
1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0,3.230769
2,4.0,22.0,2.5,0.0,1.0,16.0,3.0,5.0,1.400000
3,4.0,37.0,16.5,4.0,3.0,16.0,5.0,5.0,0.727273
4,5.0,27.0,9.0,1.0,1.0,14.0,3.0,4.0,4.666666

In [4]:
dta['affair'] = (dta.affairs > 0).astype(int)

In [6]:
dta['affair'].head()

0    1
1    1
2    1
3    1
4    1
Name: affair, dtype: int32

In [7]:
y, X = dmatrices('affair ~ rate_marriage + age + yrs_married + children + \
 religious + educ + C(occupation) + C(occupation_husb)',
 dta, return_type="dataframe")

In [9]:
y.head()

   affair
0     1.0
1     1.0
2     1.0
3     1.0
4     1.0

In [10]:
X.head()

,Intercept,C(occupation)[T.2.0],C(occupation)[T.3.0],C(occupation)[T.4.0],C(occupation)[T.5.0],C(occupation)[T.6.0],C(occupation_husb)[T.2.0],C(occupation_husb)[T.3.0],C(occupation_husb)[T.4.0],C(occupation_husb)[T.5.0],C(occupation_husb)[T.6.0],rate_marriage,age,yrs_married,children,religious,educ
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,32.0,9.0,3.0,3.0,17.0
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,27.0,13.0,3.0,1.0,14.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,22.0,2.5,0.0,1.0,16.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,37.0,16.5,4.0,3.0,16.0
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,27.0,9.0,1.0,1.0,14.0

In [11]:
X = X.rename(columns = {'C(occupation)[T.2.0]':'occ_2',
 'C(occupation)[T.3.0]':'occ_3',
 'C(occupation)[T.4.0]':'occ_4',
 'C(occupation)[T.5.0]':'occ_5',
 'C(occupation)[T.6.0]':'occ_6',
 'C(occupation_husb)[T.2.0]':'occ_husb_2',
 'C(occupation_husb)[T.3.0]':'occ_husb_3',
 'C(occupation_husb)[T.4.0]':'occ_husb_4',
 'C(occupation_husb)[T.5.0]':'occ_husb_5',
 'C(occupation_husb)[T.6.0]':'occ_husb_6'})

In [12]:
X.head()

,Intercept,occ_2,occ_3,occ_4,occ_5,occ_6,occ_husb_2,occ_husb_3,occ_husb_4,occ_husb_5,occ_husb_6,rate_marriage,age,yrs_married,children,religious,educ
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,32.0,9.0,3.0,3.0,17.0
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,27.0,13.0,3.0,1.0,14.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,22.0,2.5,0.0,1.0,16.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,37.0,16.5,4.0,3.0,16.0
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,27.0,9.0,1.0,1.0,14.0

In [13]:
y = np.ravel(y)

In [14]:
y

array([1., 1., 1., ..., 0., 0., 0.])

In [16]:
%matplotlib inline
plt.figure(figsize=(10,8))
dta.hist

<bound method hist_frame of       rate_marriage   age  yrs_married  children  religious  educ  occupation  \
0               3.0  32.0          9.0       3.0        3.0  17.0         2.0
1               3.0  27.0         13.0       3.0        1.0  14.0         3.0
2               4.0  22.0          2.5       0.0        1.0  16.0         3.0
3               4.0  37.0         16.5       4.0        3.0  16.0         5.0
4               5.0  27.0          9.0       1.0        1.0  14.0         3.0
5               4.0  27.0          9.0       0.0        2.0  14.0         3.0
6               5.0  37.0         23.0       5.5        2.0  12.0         5.0
7               5.0  37.0         23.0       5.5        2.0  12.0         2.0
8               3.0  22.0          2.5       0.0        2.0  12.0         3.0
9               3.0  27.0          6.0       0.0        1.0  16.0         3.0
10              2.0  27.0          6.0       2.0        1.0  16.0         3.0
11              5.0  27.0          6.0       2.0        3.0  14.0         3.0
12              3.0  37.0         16.5       5.5        1.0  12.0         2.0
13              5.0  27.0          6.0       0.0        2.0  14.0         3.0
14              4.0  22.0          6.0       1.0        1.0  14.0         4.0
15              4.0  37.0          9.0       2.0        2.0  14.0         3.0
16              4.0  27.0          6.0       1.0        1.0  12.0         3.0
17              1.0  37.0         23.0       5.5        4.0  14.0         5.0
18              2.0  42.0         23.0       2.0        2.0  20.0         4.0
19              4.0  37.0          6.0       0.0        2.0  16.0         5.0
20              5.0  22.0          2.5       0.0        2.0  14.0         3.0
21              3.0  37.0         16.5       5.5        2.0   9.0         3.0
22              3.0  42.0         23.0       5.5        3.0  12.0         5.0
23              2.0  27.0          9.0       2.0        4.0  20.0         3.0
24              4.0  27.0          6.0       1.0        2.0  12.0         5.0
25              5.0  27.0          2.5       0.0        3.0  16.0         4.0
26              2.0  27.0          6.0       2.0        2.0  12.0         2.0
27              5.0  37.0         13.0       1.0        3.0  12.0         3.0
28              2.0  32.0         16.5       2.0        2.0  12.0         4.0
29              3.0  27.0          6.0       1.0        1.0  14.0         3.0
...             ...   ...          ...       ...        ...   ...         ...
6336            5.0  42.0         23.0       4.0        3.0  14.0         5.0
6337            5.0  27.0          6.0       0.0        4.0  14.0         4.0
6338            5.0  42.0         23.0       2.0        3.0  12.0         2.0
6339            4.0  32.0         13.0       3.0        3.0  16.0         4.0
6340            5.0  27.0         13.0       3.0        3.0  16.0         4.0
6341            5.0  27.0          9.0       1.0        2.0  14.0         4.0
6342            4.0  22.0          2.5       0.0        2.0  16.0         4.0
6343            5.0  17.5          2.5       0.0        4.0  12.0         3.0
6344            4.0  32.0         16.5       2.0        2.0  12.0         3.0
6345            5.0  27.0          9.0       1.0        3.0  12.0         3.0
6346            4.0  22.0          2.5       0.0        4.0  14.0         4.0
6347            5.0  22.0          2.5       1.0        2.0  12.0         3.0
6348            5.0  27.0          0.5       0.0        4.0  20.0         4.0
6349            5.0  37.0         16.5       3.0        3.0  14.0         5.0
6350            5.0  32.0         13.0       2.0        4.0  14.0         3.0
6351            4.0  22.0          0.5       0.0        2.0  16.0         3.0
6352            5.0  42.0         23.0       2.0        4.0  12.0         3.0
6353            5.0  22.0          2.5       2.0        2.0  14.0         3.0
6354            5.0  42.0         23.0       4.0        4.0  12.0         3.0
6355            4.0  27.0          6.0       0.0        3.0  12.0         3.0
6356            5.0  32.0         13.0       3.0        3.0  12.0         3.0
6357            5.0  32.0         13.0       4.0        2.0  14.0         4.0
6358            3.0  27.0          6.0       2.0        4.0  14.0         3.0
6359            4.0  22.0          2.5       0.0        3.0  16.0         5.0
6360            5.0  22.0          2.5       0.0        2.0  14.0         3.0
6361            5.0  32.0         13.0       2.0        3.0  17.0         4.0
6362            4.0  32.0         13.0       1.0        1.0  16.0         5.0
6363            5.0  22.0          2.5       0.0        2.0  14.0         3.0
6364            5.0  32.0          6.0       1.0        3.0  14.0         3.0
6365            4.0  22.0          2.5       0.0        2.0  16.0         2.0

      occupation_husb    affairs  affair
0                 5.0   0.111111       1
1                 4.0   3.230769       1
2                 5.0   1.400000       1
3                 5.0   0.727273       1
4                 4.0   4.666666       1
5                 4.0   4.666666       1
6                 4.0   0.852174       1
7                 3.0   1.826086       1
8                 3.0   4.799999       1
9                 5.0   1.333333       1
10                5.0   3.266665       1
11                5.0   2.041666       1
12                3.0   0.484848       1
13                2.0   2.000000       1
14                4.0   3.266665       1
15                6.0   1.361111       1
16                5.0   2.000000       1
17                2.0   1.826086       1
18                4.0   1.826086       1
19                4.0   2.041666       1
20                4.0   7.839996       1
21                2.0   2.545454       1
22                4.0   0.532609       1
23                4.0   0.622222       1
24                4.0   0.583333       1
25                1.0   4.799999       1
26                5.0   0.166667       1
27                4.0   0.615385       1
28                2.0   1.187878       1
29                6.0  11.199999       1
...               ...        ...     ...
6336              4.0   0.000000       0
6337              4.0   0.000000       0
6338              2.0   0.000000       0
6339              2.0   0.000000       0
6340              2.0   0.000000       0
6341              5.0   0.000000       0
6342              1.0   0.000000       0
6343              5.0   0.000000       0
6344              4.0   0.000000       0
6345              5.0   0.000000       0
6346              2.0   0.000000       0
6347              2.0   0.000000       0
6348              4.0   0.000000       0
6349              5.0   0.000000       0
6350              6.0   0.000000       0
6351              1.0   0.000000       0
6352              2.0   0.000000       0
6353              5.0   0.000000       0
6354              5.0   0.000000       0
6355              4.0   0.000000       0
6356              5.0   0.000000       0
6357              4.0   0.000000       0
6358              1.0   0.000000       0
6359              5.0   0.000000       0
6360              3.0   0.000000       0
6361              3.0   0.000000       0
6362              5.0   0.000000       0
6363              1.0   0.000000       0
6364              4.0   0.000000       0
6365              4.0   0.000000       0

[6366 rows x 10 columns]>

In [23]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state=0)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(X_test.shape)

(4456, 17)
(4456,)
(1910, 17)
(1910, 17)

In [26]:
logit = sm.Logit(y_train,X_train)
result = logit.fit()

Optimization terminated successfully.
         Current function value: 0.544479
         Iterations 6

In [27]:
pred = result.predict(X_test)

In [28]:
pred.head()

2764    0.653211
4481    0.087718
5360    0.273074
5802    0.249471
1220    0.249630
dtype: float64

In [32]:
model= LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [33]:
model.score(X_train,y_train)

0.723967684021544

In [35]:
predicted=model.predict(X_test)
predicted

array([1., 0., 0., ..., 0., 0., 0.])